.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 51px 0;
}

.content nav {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content span {
  margin-top: 26px;
  font-size: 14px;
  color: var(--dark);
}
