.header {
  position: fixed;
  width: 100%;
}

.content {
  display: flex;
  justify-content: flex-end;
  margin: 0 60px;
  padding: 27px 0;
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper a {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  margin-left: 33px;
}

.wrapper a:first-child {
  margin: 0;
}

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    z-index: 2;
    display: block;
  }

  .content {
    margin: 0 12px;
    padding: 20px 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .wrapper {
    background-color: #fff;
    z-index: 1;
    width: 100%;
    height: max-content;
    padding: 0 12px;
    right: 0;
    top: 0;
    padding-top: 50px;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.2s;
  }

  .wrapper a,
  .wrapper a:first-child {
    width: 100%;
    text-align: end;
    border-bottom: solid var(--dark) 1px;
    margin: 10px 0;
  }

  .close {
    transform: translateX(100%);
  }
}
